	<!DOCTYPE html>
	<html ng-app="starter">
	<head>
		<title>StateEliminator</title>
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="assets/css/Treant.css">
		<link rel="stylesheet" type="text/css" href="assets/css/default.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/multilevelmenu.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/component.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/animations.css" />
		<script src="assets/javascript/modernizr.custom.js"></script>
		<script type="text/javascript" src="assets/javascript/jquery-1.12.3.min.js"></script>

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
		<script src="js/angular-ui-router.js"></script>
		<script type="text/javascript" src="assets/javascript/viz.js"></script>
		<script type="text/javascript" src="assets/javascript/main.js"></script>
		<script type="text/javascript" src="assets/javascript/Treant.js"></script>
		<script type="text/javascript" src="assets/javascript/raphael.js"></script>

		<!-- your app's js -->
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/services.js"></script>
		<script src="js/services/server-config.js"></script>
		<script src="js/services/parse.js"></script>
	</head>
	<body ng-controller="MainCtrl">
		<nav class="top_bar" style="z-index:999;">
			<div>
				<span class="brand">State Eliminator</span>
				<div class="pt-triggers" style="display: inline-block;width: 200px;margin: 0;text-align: right;right: 15px;top: 2px;background: transparent;float: right;">
					<button class="pt-touch-button" ng-click="cleanOutputs()">Clean</button>
					<button id="iterateEffects" class="pt-touch-button" style="width: 150px;" ng-click="updateNextPage()">{{nextPage}}</button>
				</div>
			</div>
		</nav>

		<div id="pt-main" class="pt-perspective">
			<div class="pt-page pt-page-1" style="top: 50px;height: initial;">
				<div class="content">
					<div class="container left">
						<div class="main">
							<h1>Input Information</h1>

							<label class="title">DOT Script</label>
							<select id="script_example" name="script_example" ng-model="data.script_example">
								<!--option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option-->
								<optgroup label="One final state">
									<option value="ex1">Example 1</option>
									<option value="ex2">Example 2</option>
									<option value="ex3">Example 3</option>
								</optgroup>
								<optgroup label="Diferents final states">
									<option value="ex4">Example 4</option>
									<option value="ex5">Example 5</option>
								</optgroup>
								<optgroup label="Own transitions">
									<option value="ex6">Example 6</option>
									<option value="ex7">Example 7</option>
								</optgroup>
								<optgroup label="Transitions from Final state to other">
									<option value="ex8">Example 8</option>
									<option value="ex9">Example 9</option>
								</optgroup>
								<optgroup label="Mix of all">
									<option value="ex10">Example 10</option>
									<option value="ex11">Example 11</option>
								</optgroup>
							</select>
							<button class="pt-touch-button ng-binding red" ng-click="parse()">Parse</button>
							<div class="section">
								<textarea id="dot_script" spellcheck="false">{{tempScripts[data.script_example]}}</textarea>
							</div>
						</div>
					</div>
					<div class="container right">
						<div class="main">
							<h1>Compiling Information</h1>

							<input id="tab1" type="radio" name="tabs" checked>
							<label for="tab1">Lexer</label>

							<input id="tab2" type="radio" name="tabs">
							<label for="tab2">Parser</label>

							<section id="content1">
								<div id="tokens_info">
									<h2 class="title">Tokens info</h2>
									<div class="log"></div>
								</div>
								<div id="tokens">
									<h2 class="title">List of tokens</h2>
									<div class="log"></div>
								</div>

							</section>

							<section id="content2">
								<div id="parser_info">
									<h2 class="title">Parsing Info</h2>
									<div class="object"></div>
									<h2 class="title">Log</h2>
									<div class="running_log"></div>
								</div>
							</section>

						</div>
					</div>
					<div style="margin: 50px;">
							<label class="title">Parsed Tree</label>
							<div class="section">
								<div class="chart" id="OrganiseChart-simple" style="width: 100%;height: 700px;"></div>
							</div>
						</div>
				</div>
			</div>
			<div class="pt-page pt-page-2" style="top: 50px;overflow: initial;">
				<div class="content">
					<h1 style="margin: 0px 50px;">Parsed Structures</h1>
					<div class="container" style="margin: 50px;display: block;">
						<label id="dfa" class="title">Deterministic Finite Automaton</label>
						<div class="section">
							<div class="dfa_display"></div>
						</div>
						<label id="dfa" class="title">States Elimination</label>
						<button class="pt-touch-button ng-binding red" style="height: 50px;" ng-click="eliminateStates()">Eliminate States</button>
						<div class="section">
							<div class="elimination_steps_display" style="background: white;height: 1300px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<script src="assets/javascript/jquery.dlmenu.js"></script>
		<script src="assets/javascript/pagetransitions.js"></script>
	</body>
	</html>