@font-face {
    font-family: teen;
    src: url("../fonts/teen.ttf");
}
@font-face {
    font-family: vtks_giz;
    src: url("../fonts/vtks giz.ttf");
}

*{
	padding: 0;
	margin: 0;
	font-family: teen;
}
body{
	width: 100%;
	height: 100%;
}
nav.top_bar{
	   background: #fd6a62;
    box-shadow: 0px -4px 7px 5px rgba(0,0,0,0.75);
    width: 100%;
    height: 50px;
    position: fixed;
    display: block;
    border-bottom: solid hsla(3,97%,60%,1) 1px;
}
nav.top_bar div{
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}
span.brand{
	font-family: vtks_giz;
    color: white;
    margin: 5px 12px;
    font-size: 35px;
    display: inline-block;
}
footer{
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
}
footer div.info{
	margin: 10px 20px;
}
footer div.info .uni{
	text-shadow: 1px 1px 3px rgb(0, 0, 0);
	color: #FFF2F2;
	font-weight: 600;
}
footer div.info .subject{
	text-shadow: 1px 1px 3px rgb(0, 0, 0);
	color: #FFF2F2;
	font-weight: 600;
	float: right;
}
footer div.info .release{
	font-weight: 600;
	font-size: 11px;
	color: gray;
	float: right;
}

div.content{
	width: 100%;
    height: 100%;
    display: block;
}

div.content .container{
	height: 100%;
    display: inline-block;
}

div.content .container.left{
	width: 49.7%;
	float: left;
}

div.content .container.right{
    width: 50%;
}

div.section textarea{
	width: 100%;
    height: 500px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 20px 20px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    resize: none;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 12px;
    line-height: 18px;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: none;
}
 
div.section textarea:focus{
  	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  	padding: 3px 0px 3px 3px;
  	margin: 5px 1px 3px 0px;
  	border: 1px solid rgba(81, 203, 238, 1);
}

div.dfa_display{
	width: 100%;
    height: 400px;
    font-size: 12px;
    line-height: 18px;
    white-space: pre-wrap;
}

div.log{
    display: inline-block;
    height: 400px;
    overflow: auto;
    font-size: 12px;
    width: 100%;
    padding: 20px 0;
}
div#tokens{
    display: inline-block;
    width: 400px;
}

div#tokens_info{
    display: inline-block;
    padding: 16px;
    width: 360px;
}

section div h2.title{
  font-weight: 400;
  text-align: left;
}

div#tokens_info div.token_use{
  font-size: 16px;
  display: block;
}

div#tokens_info span.token_type{
  width: 140px;
  display: inline-block;
  font-weight: 600;
}

div#tokens_info span.n_uses{
  text-align: right;
  display: inline-block;
  width: 40px;
}

div#parser_info{
  padding: 16px;
  height: 600px;
  width: 800px;
}

div#parser_info h2.title{
  font-weight: 400;
  text-align: left;
}

div#parser_info div.object{
  white-space: pre;
  height: 70%;
  overflow: auto;
  font-size: 12px;
  margin: 10px;
}

div#parser_info div.running_log{
  height: 20%;
  margin: 50px 10px 10px 10px;
}

div.log div.token{
	display: block;
}

span.green{
	color: green;
}
span.purple{
	color: purple;
}
span.light-orange{
	color: orange;
}

.chart { 
  height: 159px; 
  width: 332px;
  margin: 5px; 
  margin: 5px auto; 
}
.node { 
  color: #000; 
}
.node p { 
  font-size: 15px; 
  line-height: 20px; 
  height: 20px; 
  font-weight: bold; 
  padding: 3px; margin: 0; 
}

select{
  color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid red;
    border-bottom: 1px solid #fff;
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}


@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: left;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
  white-space: pre;
}

div.main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

div.section {
  display: block;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label.title{
	color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid red;
    border-bottom: 1px solid #fff;
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid red;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

div.log::-webkit-scrollbar-track, 
div.running_log::-webkit-scrollbar-track,
div.object::-webkit-scrollbar-track,
div.chart::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

div.log::-webkit-scrollbar,
div.running_log::-webkit-scrollbar,
div.object::-webkit-scrollbar,
div.chart::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

div.log::-webkit-scrollbar-thumb,
div.running_log::-webkit-scrollbar-thumb,
div.object::-webkit-scrollbar-thumb,
div.chart::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #D62929;
}
